body {
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    margin: 20px 0;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
    margin: 10px 0;
}

.header--sub-header {
    font-size: 21px;
    color: gray;
    margin: 10px 0;
}

.header--action {
    font-size: 16px;
    color: aquamarine;
    display: inline-block;
    margin: 15px 0;
    text-decoration: underline;
}

img, video {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.footer--copy {
    font-size: 21px;
    color: grey;
    text-align: center;
    margin-top: 30px;
}


/* Responsive Design for Mobile */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .header--main {
        font-size: 32px;
    }

    .header--secondary {
        font-size: 24px;
    }

    .header--sub-header {
        font-size: 16px;
    }

    .header--action {
        font-size: 14px;
        display: inline-block;
        margin: 10px 0;
    }

    .footer--copy {
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
    }
}